doctype html
html
  head
    title Pug
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    link(rel='stylesheet', href='/style.css')
  body
    h1 Hello World! Welcome to the Backend Zone By Hamad Mirza
    #container.col
      p This is a free backend setup that I provide you
